<div class="contact-details-page">

    <img src="https://robohash.org/{{contact.name}}?set=set5" alt="user-img">
    <div class="contact-details">
        <span>{{contact.name}}</span>
        <span>{{contact.phone}}</span>
        <span>{{contact.email}}</span>
    </div>

    <form>
        <label>
            Amount to transfer:
            <input class="p-input" type="number" name="amount" [(ngModel)]="amount">
        </label>
        <button class="p-button" (click)="onTransfer()">Transer</button>
    </form>
    <span class="msg">{{msg}}</span>

    <div class="details-btns">
        <button class="p-button" (click)="onGoBack()">Go Back</button>
        <button class="p-button" (click)="gotoEditContact()">Edit</button>
        <button class="p-button" (click)="onDeleteContact()">Del</button>
    </div>

</div>