<div class="contact-edit-page">
    <img class="btn-back" src="../../../assets/imgs/back.png" alt="goback" (click)="onGoBack()">

    <form [formGroup]="form">
        <img class="user-img" src="../../../assets/imgs/contact.png" alt="">
        <label>Name
            <input type="text" formControlName="name">
        </label>
        <label>Phone
            <input type="text" formControlName="phone">
        </label>
        <label>Email
            <input type="email" formControlName="email">
        </label>

        <button (click)="onSaveContact()">Save</button>
    </form>
</div>